@switch (link.type) {
@case ('title') {
<li class="list-none mt-2 my-2">
  <a
    class="transition-all duration-200 pointer-events-none flex items-center justify-start pl-2 rounded-md no-underline">
    <span
      class="transition-all duration-200 text-sm font-normal whitespace-nowrap text-typography dark:text-typography-dark opacity-50">
      {{displayLinkName(link) | uppercase}}
    </span>
  </a>
</li>
@for (child of link.children; track $index) {
<app-sidebar-item [link]="child"></app-sidebar-item>
}
}
@case ('dropdown') {
<li class="list-none relative" (click)="onClickChild(link)">
  <a class="flex items-center rounded-lg py-2.5 px-1.5 no-underline transition-all duration-200 cursor-pointer gap-2.5 group
   bg-sidebar-light  dark:bg-sidebar-dark {{customCss.join('')}}" [routerLink]="link.url">
    @if (link.deep && link.deep <= 1) { <i-tabler [name]="link.icon!"
      class='transition-all duration-200 group-hover:translate-x-1 text-icon-light dark:text-icon-dark'>
      </i-tabler>
      }
      <span
        class="font-normal text-base whitespace-normal pointer-events-none transition-all duration-200 group-hover:translate-x-1 text-typography-light dark:text-typography-dark">
        {{link.displayName}}
      </span>
      @if (configS.sidebar.collapsed) {
      <i-tabler [name]="link.isOpen ? 'chevron-down' : 'chevron-right'"
        class='absolute top-3 right-2 transition-all duration-200 cursor-pointer dropdown-tabler-icon text-icon-light dark:text-icon-dark'></i-tabler>
      }
  </a>
</li>

@if (link.children) {

@for (child1st of link.children; track $index) {

@if (link.isOpen) {
<app-sidebar-item [link]="child1st" [showIcon]="false" [customCss]="['pl-10']" [ngClass]="{
    'block animate-fade animate-once animate-duration-100': link.isOpen,
    'hidden': !link.isOpen,
  }"></app-sidebar-item>
}

@if (child1st.children) {

@for (child2nd of child1st.children; track $index) {

@if (child2nd.isOpen) {
<app-sidebar-item [link]="child2nd" [showIcon]="false" [customCss]="['pl-10']" [ngClass]="{
      'block animate-fade animate-once animate-duration-100': child2nd.isOpen,
      'hidden': !child2nd.isOpen,
    }"></app-sidebar-item>
}

}

}

}

}

}
@case ('link') {
<li class="list-none my-2">
  <a class="flex rounded-lg items-center py-2.5 px-1.5 no-underline transition-all duration-200 cursor-pointer gap-2.5 group
   {{customCss.join('')}}" [ngClass]="{
    'bg-primary dark:bg-primary shadow-md shadow-primary' : isActiveRoute(link.url!),
    'bg-sidebar-light dark:bg-sidebar-dark' : !isActiveRoute(link.url!)
  }" [routerLink]="link.url">
    @if (showIcon) {
    <i-tabler [name]="link.icon!" class='text-xl transition-all duration-200 group-hover:translate-x-1' [ngClass]="{
        'text-icon' : isActiveRoute(link.url!),
        'text-icon-light dark:text-icon-dark' : !isActiveRoute(link.url!)
      }"></i-tabler>
    }
    <span
      class="font-light text-base whitespace-normal pointer-events-none transition-all duration-200 group-hover:translate-x-1"
      [ngClass]="{
        'text-typography-light dark:text-typography-light' : isActiveRoute(link.url!),
        'text-typography dark:text-typography-dark' : !isActiveRoute(link.url!)
      }">
      {{link.displayName}}
    </span>
  </a>
</li>
}
@default {}
}
