<app-content-header></app-content-header>

<!-- FIXME: MAQUETAR TABLA, REF: -->
<!-- https://demos.pixinvent.com/vuexy-angular-admin-template/demo-1/tables/datatables -->

<app-table-crud [tableColumns]="tableColumns" [datasource]="housingData" [pagination]="tablePagination"
  [addButtonText]="addButtonText" [headerActions]="headerActions" [rowActions]="rowActions" [loading]="loading"
  (filterEvent)="onFilter()" (addEvent)="onAdd()" (exportEvent)="onExport($event)"
  (inputSearchEvent)="onInput($event)"></app-table-crud>
