<main class="flex">

  <app-sidebar></app-sidebar>

  <section #content class="h-screen absolute transition-all duration-300 bg-body-light dark:bg-body-dark" [ngClass]="{
    'left-[250px] w-[calc(100vw-250px)]': configS.sidebar.collapsed,
    'left-0 w-screen': !configS.sidebar.collapsed
  }">

    <div class="px-6 py-3 flex flex-col gap-3">
      <app-navbar></app-navbar>

      <div #container class="transition-all duration-300">
        <router-outlet></router-outlet>
      </div>
    </div>

  </section>

</main>
