<app-sidebar (toggleSidebar)="onToggleSidebarWeb($event)" (toggleSidebarMobile)="onToggleSidebarMobile($event)"></app-sidebar>

<section #main>
  <div class="flex flex-col gap-2 sm:px-8 px-1 sm:py-4 py-1">
    <app-navbar (toggleSidebar)="onToggleSidebarMobile($event)"></app-navbar>
    <div
      class="p-5 text-typography-default bg-content-light dark:bg-content-dark dark:text-typography-dark shadow-lg shadow-gray-200 dark:shadow-sm dark:shadow-gray-800 transition-all rounded-md h-[calc(100vh-108px)]">
      <router-outlet />
    </div>
  </div>
</section>
