/* You can add global styles to this file, and also import other style files */

/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --sidebar-open-width: 250px;
  --sidebar-collapsed-width: 78px;
  --body-bg: #E4E9F7;
  --sidebar-bg: #11101D;
  --main-bg: #E4E9F7;
  --content-bg: transparent;
}

body {
  background-color: var(--body-bg);
}

body.dark {
  --body-bg: #1c1b27;
  --sidebar-bg: #11101D;
  --main-bg: #1c1b27;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
